*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(93, 93, 105);
    
}

.container{
    width: 690px;
    background:#fff ;
    border-radius: 7px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}


.wrapper{
    border: 1px solid #bbb;
    border-radius: 5px;
    
}

.wrapper .text-input{
    display: flex;
    border-bottom: 1px solid white;
    
}

.text-input .to-text{
border-left: 1px solid #bbb;
border-radius: 0px;
}
.text-input textarea{
    height: 250px;
    width: 100%;
background: none;
padding: 10px 15px;
    outline: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    resize: none;
    
}

.controls,li ,.icons , .icons i{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.controls{
    list-style: none;
    padding: 12px 15px ;

}
.controls .row.from .icons{
padding-right: 15px;
border-right: 1px solid whitesmoke;
}
.controls .row.to .icons{
    padding-left: 15px ;
    border-left: 1px solid whitesmoke;
}
.controls .icons{
    width: 38%;
}
.controls .icons i{
    width: 50px;
    color: rgb(63, 72, 72);
    font-size: 14px;
    cursor: pointer;
    justify-content: center;
}


.controls .row select{
    border: none;
    outline: none;
 font-size: 10px;

    background: none;
}

.controls .exchange{
    color: aqua;
    font-size: 16px;

}



.container button {
    width: 100%;
    padding: 14px;
    margin-top: 20px;
    border: none;
    background: rgb(137, 142, 179);
    color: black;
    font-size: 17px;
    cursor: pointer;
    outline: none;
    

}
.lan,.op{
    font-size:15px;
}

#trans{
    color: rgb(149, 149, 212);
}


